@using BibliotecaFSJ.ViewModels
@model TopicoViewModel

<link href='https://cdn.jsdelivr.net/npm/froala-editor@4.0.1/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<link href='~/lib/Select2/select2.min.css' rel='stylesheet' type='text/css' />
<link href='~/lib/SweetAlert2/sweetalert2.min.css' rel='stylesheet' type='text/css' />

<input type="file" accept="image/*" style="display:none" id="inputImagemTopico" onchange="adicionarImagem(window.URL.createObjectURL(this.files[0]))" />
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h5 class="ml-3">Criar um tópico</h5>
            <div class="card border-0 shadow rounded-3 mt-0 mb-0">
                <div class="card-body">
                    <div class="m-3 mt-0">
                        <label>Título :</label>
                        @Html.TextBoxFor(x => x.Titulo, new { @type = "text", @id = "titulo", @class = "form-control form-control-sm", @placeholder = "Digite algo", @required = true })
                    </div>
                    <div class="m-3">
                        <label>Texto :</label>
                        <div id="texto"></div>
                    </div>
                    <div class="m-3">
                        <label class="card-title">Adicionar imagens :</label>
                        <div class="card">
                            <div class="card-body" id="galeria">
                                <button class="btn btn-primary" onclick="$('#inputImagemTopico').trigger('click')">
                                    <i class="fas fa-plus fa-3x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <label class="card-title">Adicionar tags :</label>
                        <select class="form-control" multiple="multiple" id="tags">
                        </select>
                    </div>
                    <div class="row">
                        <div class="d-grid m-3 col-3">
                            @Html.ActionLink("Voltar", "Index", "Home", new { }, new { @class = "link-primary fw-bold mt-4" })
                        </div>
                        <div class="d-grid m-3 col-3">
                            <button class="btn btn-success btn-login text-uppercase fw-bold" onclick="enviar()">Criar tópico</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@4.0.1/js/froala_editor.pkgd.min.js'></script>
    <script type='text/javascript' src='~/lib/Froala/pt_br.js'></script>
    <script type='text/javascript' src='~/lib/Select2/select2.min.js'></script>
    <script type='text/javascript' src='~/lib/SweetAlert2/sweetalert2.min.js'></script>

    <script>
        var arquivos = [];
        var editor;

        $(document).ready(function () {

            $(document).ready(function () {
                $('#tags').select2({
                    multiple: true,
                    tags: true,
                    //dropdownParent: $('#myModal'),
                    "language": {
                        "noResults": function () { return ''; }
                    }
                });
            });

            editor = new FroalaEditor('#texto', {
                language: 'pt_br',
                toolbarButtons: [['bold', 'italic', 'underline', 'fontFamily', 'textColor'], ['alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'paragraphStyle'], ['undo', 'redo']]
            })
        });

        function enviar() {


            Swal.fire({
                title: 'Enviando seu tópico',
                text: 'Espere um pouco',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            })


            let formData = new FormData();

            for (var i = 0; i < arquivos.length; i++) {
                formData.append("arquivo" + i, arquivos[i]);
            }

            formData.append("titulo", $("#titulo").val());
            formData.append("texto", editor.html.get());
            formData.append("tags", $("#tags").val());

            fetch('/topico/criar', { method: "POST", body: formData })
                .then(function (response) {
                    if (response.ok) {
                        document.location.href = response.url;
                    }
                    else {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                        })

                        Toast.fire({
                            icon: 'error',
                            title: 'Ocorreu um erro ao enviar'
                        })
                    }
                });
        };

        function adicionarImagem(src) {
            var inputImagem = document.getElementById('inputImagemTopico');
            var img = new Image();
            img.src = src;
            img.width = 80; img.height = 80;
            img.style.marginRight = "15px";
            document.getElementById('galeria').insertBefore(img, document.getElementById('galeria').firstChild);
            arquivos.push(inputImagem.files[0]);
        }

    </script>
}