@using BibliotecaFSJ.ViewModels
@model CriarTopicoViewModel

<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h5 class="ml-3">Criar um tópico</h5>
            <div class="card border-0 shadow rounded-3 mt-0 mb-0">
                <div class="card-body">
                    @using (Html.BeginForm("MinhaConta", "Perfil", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="m-3 mt-0">
                            @Html.DisplayFor(x => x.Titulo, new { @id = "titulo" })
                        </div>
                        <div class="m-3">
                            <div id="texto">@Html.DisplayFor(x => x.Texto)</div>
                        </div>
                        <div class="m-3">
                            <label class="card-title">Imagens :</label>
                            <div class="card">
                                <div class="card-body" id="galeria">
                                </div>
                            </div>
                        </div>
                        <div class="m-3">
                            <label class="card-title">Tags :</label><br />
                            @if (Model.Tags != null)
                            {
                                foreach (string tag in Model.Tags)
                                {
                                    <span class="text-white bg-secondary p-1 rounded">@tag</span>
                                }
                            }
                        </div>
                    }
                    <div class="row">
                        <div class="d-grid m-3 col-3">
                            @Html.ActionLink("Voltar", "Login", "Autenticacao", new { }, new { @class = "link-primary fw-bold mt-4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>