
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "~/Views/Shared/_AutenticacaoLayout.cshtml";
}

<link rel="stylesheet" href="~/lib/SweetAlert2/sweetalert2.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Recuperação de senha</h5>
                    <div class="form-floating mb-3">
                        <input id="iEmail" type="email" class="form-control" placeholder="Email" />
                        <label for="iEmail">Email</label>
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" onclick="RecuperaSenha()">Recuperar senha</button>
                    </div>
                    <div class="d-grid">
                        @Html.ActionLink("Voltar", "Login", "Autenticacao", new { }, new { @class = "link-primary fw-bold" })
                    </div>
                    @foreach (var erro in TempData)
                    {
                        <br />
                        <div class="alert alert-warning fw-bold text-dark" role="alert">
                            @erro.Value
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    
    <script src="~/lib/SweetAlert2/sweetalert2.js"></script>

    <script>

        function RecuperaSenha() {

            var email = $("#iEmail").val();

            $.ajax({
                method: "POST",
                url: "/api" + "@Url.Action("EnviaRecuperacaoSenha", "AutenticacaoApi")" + "/" + email,
                statusCode: {
                    200: function () {
                        Swal.fire({
                            icon: 'success',
                            title: '',
                            text: 'Email de recuperação enviado para ' + email,
                        })
                    },
                    400: function (msg) {
                        Swal.fire({
                            icon: 'error',
                            title: '',
                            text: msg.responseText,
                        })
                    }
                }
            })
        }

    </script>
}
